.footer-main {
    background: #0000;
    height: 32vmin;
    width: 100%;
    border-top: 1px solid #000d1a;
    .footer-content {
        background: #000;
        color: #efefef;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 1.5vmin;
        .footer-content-left {
            img {
                height: 25vmin;
                width: 25vmin;
                object-fit: contain;
            }
        }
        .footer-content-center,
        .footer-content-right {
            .footer-content-text {
                padding: 2;
                &:hover {
                    cursor: pointer;
                    color: #fff;
                }
            }
        }
    }
}